<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <%= erb :header %>

  <script type="text/javascript">
  $(function(){
      setupPreso(<%= slides.nil? ? "true" : "false"%>, './');
  });
  </script>

</head>

  <body>
    <div id="impress">
      <%= slides %>
    </div>
    <div class="hint">
        <p>Use a spacebar or arrow keys to navigate</p>
    </div>

    <script>
    if ("ontouchstart" in document.documentElement) {
        document.querySelector(".hint").innerHTML = "<p>Tap on the left or right to navigate</p>";
    }
    </script>
    <script src="js/impress.js"></script>
    <script>impress().init();</script>

  </body>
</html>
